<p id="notice"><%= notice %></p>

<div class="col-sm-12">
  <%= link_to 'New hotel', new_hotel_path, class: "btn btn-warning btn-group btn-group-justified" %>
</div>
<% @hotels.each do |hotel| %>
    <div class="col-lg-3">

      <%= image_tag hotel.image_url, class: "img-thumbnail",
                    width: "200px", height: "150px" %>
      <h3>            <%= hotel.title %></h3>
      <p> <%= truncate(strip_tags(hotel.description),
                       length: 80) %></p>
      <p>          <%= link_to 'Show', hotel, class: "btn btn-default" %>
        <%= link_to 'Edit', edit_hotel_path(hotel), class: "btn btn-default" %>
        <%= link_to 'Destroy', hotel, method: :delete,
                    data: {confirm: 'Are you sure?'}, class: "btn btn-default" %>

      </p>

    </div>
<% end %>
