- if notice
  %p#notice
    = notice

/ list of hotels
.row.vcenter
  - if user_signed_in?
    = link_to 'New hotel', new_hotel_path, class: "btn btn-warning"
  - else
  - @hotels.each do |hotel|
    .col-sm-3

      / Image Card
      .card.hoverable
        .card-image
          .view.overlay.hm-white-slight.z-depth-1
            = image_tag hotel.image_url, class: "img-responsive"
            %a{:href => "#"}
              .mask.waves-effect
        .card-content
          %h3
            = hotel.title
          %p
            = truncate(strip_tags(hotel.description), |
              length: 80)

        / Buttons
        .card-btn.text-center
          - if user_signed_in?
            = link_to 'Show', hotel, class: "btn btn-default"
            = link_to 'Edit', edit_hotel_path(hotel), class: "btn btn-default"
            = link_to 'Destroy', hotel, method: :delete,                 |
              data: {confirm: 'Are you sure?'}, class: "btn btn-default"
          - else
            = link_to 'Show', hotel, class: "btn btn-default"