
<p>
  <strong>Title:</strong>
  <%= @hotel.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hotel.description %>
</p>

<p>
<img src="<%= @hotel.image_url %>" alt="" class="img-responsive">  

  <strong>Image url:</strong>
  <%= @hotel.image_url %>

</p>

<p>
  <strong>Price:</strong>
  <%= @hotel.price %>
</p>

<% if user_signed_in? %>
<%= link_to 'Edit', edit_hotel_path(@hotel) %> |
<% else %>
<% end %>

<%= link_to 'Back', hotels_path %>
