<% if notice %>
<p id="notice">
  <%= notice %>
</p>
<% end %>
<!--catalog-->
<div class="row">
  <% cache ['store', Hotel.latest] do %>
  <% @hotels.each do |hotel| %>
  <% cache ['entry', hotel] do %>
  <div class="col-sm-3">
    <!--Image Card-->
    <div class="card hoverable">
      <div class="card-image">
        <div class="view overlay hm-white-slight z-depth-1">
          <%= image_tag hotel.image_url, class: "img-responsive" %>
          <a href="#">
            <div class="mask waves-effect"></div>
          </a>
        </div>
      </div>
      <div class="card-content">
        <h5>  <%= hotel.title %> </h5>
        <p>
          <%= sanitize(hotel.description) %>
        </p>
        <p>
          <%= number_to_currency(hotel.price) %>
        </p>
      </div>
      <!--Buttons-->
      <div class="card-btn text-center">
        <a href="#" class="btn btn-primary btn-md waves-effect waves-light">Read more</a>
      </div>
      <!--/.Buttons-->
    </div>
    <!--Image Card-->
  </div>
  <% end %>
  <% end %>
  <% end %>
  <!--Image Card-->
</div>
</div>
<!--/.catalog-->