<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application",
                             "data-turbolinks-track" => true %>
  <%= csrf_meta_tag %>
</head>
<body class=" <%= controller.controller_name %> ">

<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
  <%= render('layouts/navbar') %>
  </div>
</nav>

<!-- carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <%= render('layouts/carousel') %>
</div>
<!-- /.carousel -->



<div class="container-fluid marketing">
    <div class="row">
          <%= yield %>
    </div>
</div>


</body>
</html>